/data
*.cmake
CMakeCachhe.txt
exple
Makefile
project/data/choux.mp4
project/CMakeCache.txt
CMakeFiles/
.vscode/settings.json
project/out.avi
TD2/CMakeCache.txt
TD2/exple
TD2/CMakeCache.txt
project/out.*
project/video
